@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

@theme {
  --color-bg: #080c17;
  --color-text: #f5f5f5;
  --color-primary: #3949ab;
}

@import "tailwindcss";

body {
  font-family: "Plus Jakarta Sans", sans-serif;

  @apply bg-bg text-gray-200 antialiased;
}

/* Smooth scrolling for the whole site */
html {
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4f46e5;
}
